<div class="navbar">
    <a class="nav-link nav-link-ltr fontSizeMax" href="/">Dota 2 Tracker</a>
    <a class="nav-link nav-link-ltr" href="/">Search Match</a>
    <a class="nav-link nav-link-ltr" href="/search-player">Search Player</a>
    <a class="nav-link nav-link-ltr" href="/heroes">Heroes</a>
</div>